<form accept-charset="UTF-8" action="/new" method="get">
  <label for="username">Username:</label>
  <input name="username" type="text" />
  <label for="password">Password:</label>
  <input name="password" type="password" />
  <label for="email">Email:</label>
  <input name="email" type="email" />
  <input type="submit" />
</form>